<div class="row mt-5" xmlns="http://www.w3.org/1999/html">
    <div class="row col-12 mt-2">
      <div class="col-4 text-center">
          <img src="assets/img/img250_150.jpg" class="img-responsive">
      </div>
      <div class="col-8">
          <h5 class="text-cut-1"><strong>Documentation and tooling</strong></h5>
          <div class="row pl-3">
            <strong >浏览数：6000 时间：2017-12-01</strong>
          </div>
      </div>
    </div>

  <div class="row mt-2">
    <div class="col-4">
      <img src="assets/img/img250_150.jpg" class="img-responsive">
    </div>
    <div class="col-8">
      <h5><strong>Documentation and tooling</strong></h5>

      <div class="row pl-3">
        浏览数：6000 时间：2017-12-01
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
      <img src="assets/img/img250_150.jpg" class="img-responsive">
    </div>
    <div class="col-8">
      <h5><strong>Documentation and tooling</strong></h5>
      <div class="row pl-3 ">
        <p class="text-cut-2"> Every component and plugin is thoroughly documented with live examples and code blocks for
          easier use and customization—just like Bootstrap itself. Not comfortable diving that deep? No worries, you
          can get started by double clicking index.html!
        </p>
      </div>
      <div class="row pl-3">
        浏览数：6000 时间：2017-12-01
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
      <img src="assets/img/img250_150.jpg" class="img-responsive">
    </div>
    <div class="col-8">
      <h5><strong>Documentation and tooling</strong></h5>
      <div class="row pl-3 ">
        <p class="text-cut-2"> Every component and plugin is thoroughly documented with live examples and code blocks for
          easier use and customization—just like Bootstrap itself. Not comfortable diving that deep? No worries, you
          can get started by double clicking index.html!
        </p>
      </div>
      <div class="row pl-3">
        浏览数：6000 时间：2017-12-01
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
      <img src="assets/img/img250_150.jpg" class="img-responsive">
    </div>
    <div class="col-8">
      <h5 class="text-ellipsis-1"><strong>Documentation and tooling</strong></h5>
      <div class="row pl-3 ">
        <p class="text-cut-2"> Every component and plugin is thoroughly documented with live examples and code blocks for
          easier use and customization—just like Bootstrap itself. Not comfortable diving that deep? No worries, you
          can get started by double clicking index.html!
        </p>
      </div>
      <div class="row pl-3">
        浏览数：6000 时间：2017-12-01
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
      <img src="assets/img/img250_150.jpg" class="img-responsive">
    </div>
    <div class="col-8">
      <h5><strong>Documentation and tooling</strong></h5>
      <div class="row pl-3 ">
        <p class="text-cut-2"> Every component and plugin is thoroughly documented with live examples and code blocks for
          easier use and customization—just like Bootstrap itself. Not comfortable diving that deep? No worries, you
          can get started by double clicking index.html!
        </p>
      </div>
      <div class="row pl-3">
        浏览数：6000 时间：2017-12-01
      </div>
    </div>
  </div>
</div>
