
<footer class="footer-4">
  <div class="container">
    <div class="row mb-5 text-center text-md-left">
      <div class="col-md-3 col-lg-4 mb-3">
        <a class="logo" href="#"><img src="assets/img/logo_yc.png" height="200px"> </a>
      </div>
      <div class="col-md-3 offset-lg-2 col-lg-2 pt-2">
        <h5>Category 1</h5>
        <ul class="nav-footer">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2 pt-2">
        <h5>Category 2</h5>
        <ul class="nav-footer">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2 pt-2">
        <h5>Category 3</h5>
        <ul class="nav-footer">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="divider"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left mt-2 mb-3 pt-1">
        <p class="copyright">Copyright &copy; 广东粤冀农产品供应链有限公司.</p>
      </div>
    </div>
  </div>
</footer>

<go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'"
               [animate]="true"
               [speed]="50"
               [acceleration]="2"
               [scrollDistance]="300"
               [styles]="{
                    'border-radius': '30px 30px 30px 30px',
                    'right': '10px',
                    'color': 'green',
                    'border': '5px solid',
                    'line-height': '20px'
                 }">
</go-top-button>
