<div class="col-lg-9 col-xs-full mt-5">
  <section class="search-result-item">
    <a class="image-link" href="#">
      <img class="image" src="assets/img/1.jpg">
    </a>
    <div class="search-result-item-body">
      <div class="row">
        <div class="col-md-9">
          <h5 class="search-result-item-heading">
            <a href="#">Next generation admin template</a>
          </h5>

          <p class="info">
            New York, NY 20188
          </p>
          <p >
            Not just usual Metro. But something bigger. Not just usual widgets, but real
            widgets. Not just yet another admin template, but next generation admin template.
          </p>
          </div>
        <div class="col-md-3">
          <a class="btn btn-primary btn-info btn-sm" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <section class="search-result-item">
    <a class="image-link" href="#">
      <img class="image" src="assets/img/5.jpg">
    </a>
    <div class="search-result-item-body">
      <div class="row">
        <div class="col-md-9">
          <h5 class="search-result-item-heading">
            <a href="#">Try. Posted by Okendoken</a>
            <span class="label label-pill label-danger fw-normal pull-xs-right">Best Deal!</span>
          </h5>
          <p class="info">
            Los Angeles, NY 20188
          </p>
          <p >
            You will never know exactly how something will go until you try it. You can
            think three hundred times and still have no precise result.
          </p>
        </div>
        <div class="col-md-3 text-xs-center">
          <p class="value4 mt-sm">
            $10, 300
          </p>
          <p class="text-muted">
            PER WEEK
          </p>
          <a class="btn btn-primary btn-info btn-sm" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <section class="search-result-item">
    <a class="image-link" href="#">
      <img class="image" src="assets/img/13.jpg">
    </a>
    <div class="search-result-item-body">
      <div class="row">
        <div class="col-md-9">
          <h5 class="search-result-item-heading">
            <a href="#">Vitaut the Great</a>
          </h5>
          <p class="info">
            New York, NY 20188
          </p>
          <p >
            The Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to
            Europe of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.
          </p>
        </div>
        <div class="col-md-3 text-xs-center">
          <p class="value4 mt-sm">
            $3, 200
          </p>
          <p class="text-muted">
            PER WEEK
          </p>
          <a class="btn btn-info btn-sm" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <section class="search-result-item">
    <a class="image-link" href="#">
      <img class="image" src="assets/img/3.jpg">
    </a>
    <div class="search-result-item-body">
      <div class="row">
        <div class="col-md-9">
          <h5 class="search-result-item-heading">
            <a href="#">Can I use CSS3 Radial-Gradient?</a>
          </h5>
          <p class="info">
            Minsk, NY 20188
          </p>
          <p >
            Yes you can! Further more, you should! It let's you create really beautiful images
            either for elements or for the entire background.
          </p>
        </div>
        <div class="col-md-3 text-xs-center">
          <p class="value4 mt-sm">
            $2, 400
          </p>
          <p class="text-muted">
            PER MONTH
          </p>
          <a class="btn btn-info btn-sm" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row m-5">
  <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Media object</h5>
      <p class="text-cut-2">
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </p>

    </div>
    <img class="image-blog ml-3" src="assets/img/3.jpg" alt="Generic placeholder image">
  </div>
</div>
